# Programowanie w Python
Autor dr Aneta Polewko-Klim

## Pandas część1
Homepage -http://pandas.pydata.org/  
DataCamp web https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python 

**Additional tutorials**

http://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

### Import niezbędnych bibliotek

In [1]:
import pandas as pd  # biblioteka do obsługi danych w formie tabelarycznej/ramek danych
import numpy as np   # biblioteka do obsługi danych w macierzy, wektorów, tablic
import os  # biblioteka do obsługi plików i folderów

###  Tworzenie ramek danych

In [ ]:
dr = pd.date_range('1/6/2019', periods=6)  # wektor/kolumna, generowanie wektora z dat, przedział = liczba miesięcy 
dr

In [ ]:
s = pd.Series(np.random.randn(5), index=['A', 'B', 'C', 'D', 'E'])  # kolumna + nazwy wierszy (wartości są losowane)
s

In [ ]:
# tworzymy ramkę danych na podstawie zmiennej dr, zwróć uwagę na rozmiary
df = pd.DataFrame(np.random.randn(6, 3), index=dr, columns=['A', 'B', 'C'])   
df

In [ ]:
# tworzymy ramkę danych na podstawie zmiennej dr, zwróć uwagę na rozmiary
zawartosc = np.random.randn(6, 3)
df2 = pd.DataFrame(zawartosc, index=dr, columns=['A', 'B', 'C'])   
df2

In [ ]:
# tworzenie wielowymiarowych ramek danych tu "kostka 3D o wymiarach 2x5x4"
pan = pd.Panel(np.random.randn(2, 5, 4), 
              items=['Item1', 'Item2'],
              major_axis=pd.date_range('1/1/2000', periods=5),
              minor_axis=['A', 'B', 'C', 'D'])
pan

### Tworzymy przykładową ramkę danych

In [ ]:
dictionary = {'one':[1,10,100,1000,10000],
     'two':[2,20,200,2000,2000],
     'price':['prod1','prod3','prod2','prod1','prod2']}  # wykorzystamy słownik do utworzenia odpowiedniej struktury
dictionary

In [ ]:
dfs = pd.DataFrame(dictionary)   # tworzymy ramkę danych wg. nazwaObietu = nazwaBiblioteki.nazwaFunkcji(argumentMetody)
dfs

In [ ]:
type(dfs)  # informacje o obiekcie

In [ ]:
dfs.head(2)  # pokazuje 2 pierwsze wiersze tabeli

In [ ]:
dfs.head

In [ ]:
dfs.tail(3)  # pokazuje 3 końcowe wiersze tabeli

In [ ]:
dfs.info() # podstawowe informacje o danych

In [ ]:
dfs.shape  # liczba wierszy i liczba kolumn

In [ ]:
dfs.columns # wyswietla nazwy kolumn tabeli

In [ ]:
dfs['price'].value_counts()  # zliczamy ilość elementów o tych samych wartościach z kolumny 'price'

In [ ]:
z = dfs['price']
z
#z.value_counts()

In [ ]:
dfs[['price', 'one']] # ograniczenie zbioru do wybranych nazw kolumn 'price', 'one' z tabeli

In [ ]:
dfs[0:3] # selekcja wybranych wierszy tabeli data np: 0,1,2

## Metoda: groupby
##### metoda grupuje dane tabelaryczne względem kolumny, na wyodrębnionych w ten sposób podgrupach/podzbiorach wykonuje rónocześnie zadeklarowaną operację

In [ ]:
dfPrice = dfs.groupby('price')  # grupujemy dane po kolumnie z nagłówkiem 'price'

In [ ]:
dfPrice.ngroups  # sprawdzenie liczby utworzonych podzbiorów <=> liczba kategorii w kolumnie 'price'

In [ ]:
dfPrice.groups  # podstawowe informacje o typach danych wewnątrz ramki danych

In [ ]:
dfPrice.get_group('prod1') # wydzielenie podzbioru danych 'prod1'

In [ ]:
dfPrice.describe()  # tabela podstawowych statystych dla poszczególnych podzbiorów

In [ ]:
dfPrice.sum()   # sumowanie wartości obiektów po kolumnach dla poszczególnych podzbiorów

In [ ]:
dfPrice.mean()  # srednia z kolumn

### Przykłady grupowania danych po wielu kolumnach

In [ ]:
grouped = dfs.groupby(['price', 'one'])

In [ ]:
print(grouped.get_group)

In [ ]:
print(grouped.sum())

In [ ]:
print(grouped.sum().index)

### Praca na danych z pliku: zapis danych do pliku


The pandas I/O API is a set of top level reader functions accessed like pd.read_csv() that generally return a pandas object.

* read_csv
* read_excel
* read_hdf
* read_sql
* read_json
* read_msgpack (experimental)
* read_html
* read_gbq (experimental)
* read_stata
* read_sas
* read_clipboard
* read_pickle
The corresponding writer functions are object methods that are accessed like df.to_csv()

* to_csv
* to_excel
* to_hdf
* to_sql
* to_json
* to_msgpack (experimental)
* to_html
* to_gbq (experimental)
* to_stata
* to_clipboard
* to_pickle###  Praca na danych z pliku: odczyt danych z pliku

In [4]:
data = pd.read_excel( 'movies.xlsx')

#os.path.join(folder_path, 'titanic_train.xlsx')
#e:/DYDAKTYKA/Python/laboratorium/titanic_train.xlsx

# data = pd.read_excel('titanic_train.xlsx')  # tak wczytujemy dane z pliku jeśli jest w folderze roboczym

In [5]:
data.head()  # metoda .head wyświetla dla wszystkich kolumn 5 pierwszych wierszy

                          movie_title  ...                                    movie_imdb_link
0                        Interstellar  ...  http://www.imdb.com/title/tt0816692/?ref_=fn_t...
1                    Django Unchained  ...  http://www.imdb.com/title/tt1853728/?ref_=fn_t...
2  Batman v Superman: Dawn of Justice  ...  http://www.imdb.com/title/tt2975590/?ref_=fn_t...
3                  Mad Max: Fury Road  ...  http://www.imdb.com/title/tt1392190/?ref_=fn_t...
4                        The Revenant  ...  http://www.imdb.com/title/tt1663202/?ref_=fn_t...

[5 rows x 28 columns]

### Praca na danych z pliku: zapis danych do pliku

In [ ]:
############# składnia funkcji dla plików z rozszerzeniem *.csv
# data.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, 
#            header=True, index=True, index_label=None, mode='w', encoding=None, 
#            compression=None, quoting=None, quotechar='"', line_terminator='\n', 
#            chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, 
#            escapechar=None, decimal='.', **kwds)

In [ ]:
############## składnia funkcji dla plików z rozszerzeniem *.xlsx
# data.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, 
#              header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, 
#              merge_cells=True, encoding=None, inf_rep='inf', verbose=True)

In [2]:
dataTitanic = data
data.to_excel(os.path.join(folder_path, 'titanic_copy.xlsx')) # zapis do pliku *.xlsx
data.to_csv(os.path.join(folder_path, 'titanic_copy.csv'), index=False)    # zapis do pliku *.csv

NameError: ignored

### Zadanie 1
#### a) wypisz: pierwsze 3 kolumny, wiersze od 4 do 9, 
#### b) wyznacz średnią wieku pasażerów statku
#### c) określ ile osób przeżyło katastrofę statku
#### d) określ statystyki podstawowe dla 2 grup/klas: male i female
#### e) ilu pasażerów podróżowało klasą 1 ilu 3

In [ ]:

data.columns

In [ ]:
meanAge = data[['Age']].mean()  # nazwa zmiennej w Camel meanAge
mean_age = data[['Age']].mean()  # nazwa zmiennej w sneake mean_age

In [ ]:
statisticSex = data[['Sex']].describe()
statisticSexdfs.groupby(['price'

In [ ]:
dataSex = data.groupby(['Sex'])

In [ ]:
dataSex.describe()

## Metody .loc i .iloc - służą do selekcji danych
#### składnia:  nazwaObiektu.loc[numbersRows, nameColumns]      oraz   nazwaObiektu.iloc[numbersRows, numbersColumns]

#### Zadanie 2 Zapoznaj się z przykładami działania metod .loc oraz .iloc

In [ ]:
# print(data.loc[5])  # wyświetl dane 6 wiersz i wszystkie kolumny
# print(data.loc[5:10]) # wyświetl 6,...,9 wiersze i wszystkie kolumny
# print(data.loc[5, 'Name']) # wyświetl 6 wiersz z kolumny 'Name'
# print(data.loc[5:10, 'Name'])  # wyświetl 6,...,9 wiersze z kolumny 'Name'
# print(data.columns)
# print(data.loc[5:10, :'Pclass']) # wyświetl 6,...,10 wiersze i wszystkie kolumny poprzedzające kolumne 'Pclass'
# print(data.loc[5:10, ['Name', 'Pclass', 'Survived']]) # wyświetl 6,...,10 wiersze i kolumny 'Name', 'Pclass', 'Survived'

In [ ]:
#print(data.loc[5])  # wyświetl dane 6 wiersz i wszystkie kolumny
#print(data.loc[5:10]) # wyświetl 6,...,9 wiersze i wszystkie kolumny
# print(data.loc[5, 'Name']) # wyświetl 6 wiersz z kolumny 'Name'
# print(data.loc[5:10, 'Name'])  # wyświetl 6,...,9 wiersze z kolumny 'Name'
# print(data.columns)
# print(data.loc[5:10, :'Pclass']) # wyświetl 6,...,10 wiersze i wszystkie kolumny poprzedzające kolumne 'Pclass'
# print(data.loc[5:10, ['Name', 'Pclass', 'Survived']]) # wyświetl 6,...,10 wiersze i kolumny 'Name', 'Pclass', 'Survived'

In [ ]:
# print(data.iloc[1])
# print(data.iloc[5:10])
# print(data.iloc[5, 3])  # dane: 5 wiersz 3 kolumna
# print(data.iloc[5:10, 3])
# print(data.iloc[5:10, :3])
# print(data.iloc[range(0, 50, 5), [1, 3]]) # dane: wiersze od 0 do 50 z krokiem 5, kolumny: 1, 3
# print(data.iloc[:50:5, [1, 3]]) # analog do formuły powyżej
# print(data.iloc[-10:]) # minus oznacza liczenie od końca tu wyświetl od 10 wiersza od końca
# print(data.Pclass.max()) # Wartość max i min dla kolumny Pclass
# print(data.Pclass.min())
# print(data.Pclass.sum()) # Wartość sumy dla kolumny Pclass
# print(data['Cabin'])
#print(data.Cabin.fillna(0)) # wstaw 0 w rekordy w których brakuje danych czyli jest NaN w kolumnie Cabin

In [ ]:
mean_age

#### Zadanie 3
#### a) Podaj wiek najmłodszego pasażera statku
#### b) imputacja danych: podstaw wartość średnią za NaN w kolumnie Age
#### c) wyświetl wiersze 2,4,30 i tylko 3 kolumny Age Name Sex

In [ ]:
####

#### Zadanie 4  Zapoznaj się z warunkową selekcją zmiennych

In [ ]:
# print(data['Pclass'] == 3) # określa które rekordy/wiersze kolumny Pclass mają bilet klasy 3
#print(data.loc[data['Pclass'] == 3]) # wyświetla tylko te wiersze dla których w kolumnie Pclass jest bilet klasy 3
# print(data[data['Pclass'] == 3]) # analog powyższej formuły
print(data[data['Cabin'].isin(['C85', 'C123'])])  # szukanie w kolumnie 'Cabin' konkretnych elementów/wartości tj.'C85', 'C123'
# print(data[(data['Cabin'] == 'C123') & (data['Pclass']==1)]) # wiele warunków równocześnie  & => odpowiednik and

NameError: ignored

In [ ]:
#### Zadanie 5
#### a) wyswietl dane pasażerów którzy mają wiek poniżej 25 lat i bilet klasy 2 zapisz uzyskane do pliku na dysk
#### b) wyświetl ile osób podróżowało statkiem, podaj w/w dane z podziałem na kategorie np.: płeć, klasa biletu, wiek (grupy co 10 lat)
#### c) określ ile osób przeżyło katastrofę statku

In [ ]:
#### Zadanie 6 
#### a) korzystając z data2 = pd.read_csv(os.path.join(folder_path, 'movies.csv'))      odczytaj dane movies.csv
#### b) określ ile filmów nakręcono w każdym roku
#### c) określ który film miał najwięcej lajków na facebook-u
#### d) podziel zbiór ze względu na kategorię country lub color i określ dla każdej kategorii liczbę filmów o budżecie > 240mln
#### e) jaki film wykonany w kolorze miał największy budżet?
#### f) Czy w zbiorze znajdują się dane dla filmu Piraci z karaibów? Jeśli tak to ile kosztował ten film i kto był jego reżyserem
#### g) Jaki film miał największy budżet

### Łączenie danych tabelarycznych (concatenate)
funkcja concat() - domyślnie względem wierszy

pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                     'B': ['B4', 'B5', 'B6', 'B7'],
                     'C': ['C4', 'C5', 'C6', 'C7'],
                     'D': ['D4', 'D5', 'D6', 'D7']},
                      index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                     'B': ['B8', 'B9', 'B10', 'B11'],
                     'C': ['C8', 'C9', 'C10', 'C11'],
                     'D': ['D8', 'D9', 'D10', 'D11']},
                     index=[8, 9, 10, 11])

frame = [df1, df2, df3]

In [ ]:
pd.concat(frame)

In [ ]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                  'D': ['D2', 'D3', 'D6', 'D7'],
                  'F': ['F2', 'F3', 'F6', 'F7']},
                 index=[2, 3, 6, 7])

In [ ]:
pd.concat([df1, df4], axis=1)   # łączenie ze wskazaniem pozycji w tabeli

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [ ]:
pd.concat([df1, df4], axis=1, join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

Funkcja merge() - względem kolumn, indeksów
merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)

In [ ]:
 left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
# kluczowy argument to how który określa sposób łącznie danych, mamy warianty:
#left,           right, outer, inner
pd.merge(left, right, on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3